<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altagrame</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
</head>

<body>
    <div id="container" style="height: 400px"></div>
</body>
<style>
    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
</style>

<script>

    var result_dict = JSON.parse('{{result_dict|tojson}}');
    var column_names = JSON.parse('{{column_names|tojson}}');

    var first_column = column_names[0];
    var second_column = column_names[1];

    var first_values = result_dict[first_column];
    var second_values = result_dict[second_column];

    var final_list = [];


    for (let i = 0; i < first_values.length; i++) {
        final_list.push([first_values[i],second_values[i]])
      }


    Highcharts.chart('container', {

        chart: {
            type: 'bar',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 50
            }
        },
        title: {
            text: first_column + '/' + second_column
        },
        plotOptions: {
            series: {
                depth: 25,
                colorByPoint: true
            }
        },
        xAxis: {
            type: 'category'
        },
        series: [{
            name: first_column,
            data: final_list
        }]
    });
    
</script>

</html>