<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altagrame</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
</head>

<body>
    <div id="container" style="height: 400px"></div>
</body>
<style>
    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
<script>

    var result_dict = JSON.parse('{{result_dict|tojson}}')
    var column_names = JSON.parse('{{column_names|tojson}}')

    var first_column = column_names[0]
    var second_column = column_names[1]

    console.log(result_dict, column_names, first_column, second_column)

    Highcharts.chart('container', {
        chart: {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 250,
                frame: {
                    bottom: {
                        size: 2,
                        color: '#C0C0C0'
                    }
                }
            }
        },
        title: {
            text: "Fire"
        }, yAxis: {
            title: {
                text: second_column
            }
        },
        xAxis:[ {
            categories: result_dict[first_column]
        },{title : {
            text: first_column
        }}],
        plotOptions: {
            column: {
                depth: 50,
                groupZPadding: 100
            }
        },
        series: [{
            name: "Fire",
            data: result_dict[second_column]
        }]
    });

</script>

</html>