<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

</head>

<body>

    <div id="container" style="height: 400px"></div>

</body>
<style>
    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
<script>

    var column_names = JSON.parse('{{column_names|tojson}}')
    var result_dict = JSON.parse('{{result_dict|tojson}}')

    var first_column = column_names[0]
    var second_column = column_names[1]
    var third_column = column_names[2]
    var fourth_column = column_names[3]

    console.log(result_dict, column_names, first_column, second_column,third_column,fourth_column);
    data_list = [];
    for (let i = 0; i < (result_dict[first_column].length); i++) {
       current_point = [result_dict[second_column][i],result_dict[third_column][i],result_dict[fourth_column][i]];
       data_list.push(current_point);
      }
    
    // Give the points a 3D feel by adding a radial gradient
    Highcharts.setOptions({
        colors: Highcharts.getOptions().colors.map(color => ({
            radialGradient: {
                cx: 0.4,
                cy: 0.3,
                r: 0.5
            },
            stops: [
                [0, color],
                [1, Highcharts.color(color).brighten(-0.2).get('rgb')]
            ]
        }))
    });

    // Set up the chart
    const chart = Highcharts.chart('container', {
        chart: {
            margin: 100,
            type: 'scatter3d',
            options3d: {
                enabled: true,
                alpha: 10,
                beta: 30,
                depth: 250,
                viewDistance: 5,
                fitToPlot: false,
                axisLabelPosition: 'auto',
                frame: {
                    left: {
                        color: 'rgba(0, 0, 100, 0.2)',
                        visible: 'auto'
                    },
                    right: {
                        color: 'rgba(0, 0, 100, 0.2)',
                        visible: 'auto'
                    },
                    top: {
                        color: 'rgba(0, 0, 100, 0.2)',
                        visible: 'auto'
                    },
                    bottom: {
                        color: 'rgba(0, 0, 100, 0.2)',
                        visible: 'auto'
                    },
                    front: {
                        color: 'rgba(0, 0, 100, 0.2)',
                        visible: 'auto'
                    },
                    back: {
                        color: 'rgba(0, 0, 100, 0.2)',
                        visible: 'auto'
                    }
                }
            }
        },
        title: {
            text: 'Draggable box'
        },
        subtitle: {
            text: 'Click and drag the plot area to rotate in space.<br> Frames will hide and show automatically.'
        },
        plotOptions: {
            scatter: {
                width: 10,
                height: 10,
                depth: 10
            }
        },
        yAxis: {
            min: 0,
            max: 10,
            title: null
        },
        xAxis: {
            min: 0,
            max: 10,
            gridLineWidth: 1
        },
        zAxis: {
            min: 0,
            max: 10,
            showFirstLabel: false
        },
        legend: {
            enabled: false
        },
        series: [{
            name: 'Reading',
            colorByPoint: true,
            data: data_list
        }]
    });

    function start(eStart) {
        eStart = chart.pointer.normalize(eStart);

        const posX = eStart.pageX,
            posY = eStart.pageY,
            alpha = chart.options.chart.options3d.alpha,
            beta = chart.options.chart.options3d.beta,
            sensitivity = 5; // lower is more sensitive

        const move = e => {
            // Run beta
            const newBeta = beta + (posX - e.pageX) / sensitivity;
            chart.options.chart.options3d.beta = newBeta;

            // Run alpha
            const newAlpha = alpha + (e.pageY - posY) / sensitivity;
            chart.options.chart.options3d.alpha = newAlpha;

            chart.redraw(false);
        };

        const end = () => {
            document.removeEventListener('mousemove', move);
            document.removeEventListener('touchdrag', move);

            document.removeEventListener('mouseup', end);
            document.removeEventListener('touchend', end);
        };

        document.addEventListener('mousemove', move);
        document.addEventListener('touchdrag', move);

        document.addEventListener('mouseup', end);
        document.addEventListener('touchend', end);
    }

    // Add mouse events for rotation
    chart.container.addEventListener('mousedown', start);
    chart.container.addEventListener('touchstart', start);

</script>

</html>